@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--This view lists the films that the user has added through the form page-->
<div class="text-center table">
    <table>
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>LentTo</th><th>Notes</th></tr>
        </thead>
        <tbody>
            @foreach (var Movie in Model)
            {
                <tr>
                    <td>@Movie.Category</td>
                    <td>@Movie.Title</td>
                    <td>@Movie.Year</td>
                    <td>@Movie.Director</td>
                    <td>@Movie.Rating</td>
                    <td>@Movie.Edited</td>
                    <td>@Movie.LentTo</td>
                    <td>@Movie.Notes</td>
                </tr>
            }

        </tbody>
    </table>
</div>
